.footer{
  background-color:#05386B;
  color: #edf5e1;
  padding: 30px 20px 10px;
  text-align: center;
}
.logo{
  max-width: 80px;
  width: 100%;
}
.footer hr{
  background-color:#edf5e1;
}
.footer h5{
  font-size: 1rem;
 }
 .footer h4{
  font-size: 1.2rem;
 }
 .footer p{
   font-size: 0.8rem;
 }
 .foot-nav{
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #ebede8;
  color: #379683;
  padding: 10px 10px;
  font-size: 1.5rem;
 }
 .foot-nav svg path{
   width: 24px;
 }

@media(min-width: 768px){ /*>=768 */
  .footer{
    padding: 25px 100px 10px; 
    text-align: justify;
  }
  .footer > div:last-child{
    text-align: center;
  }
  .logo{
    max-width: 130px;
  }
}
