.navbar{
  min-height: 80px;   
  width: 100%; 
  background-color: #8ee4af;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Oswald', sans-serif;
}
.navbar p{
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
}
.navbar span{
  color: #05386B;
}
.navbar-nav{
  margin-right: 0px;
  margin-left: auto;
}
.btn-nav{
  margin: 10px;
  color:white;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7rem;
  transition: 0.5s;
}
.btn-nav:hover , .btn-nav:active {
  color:#05386B;
  border: none;
  box-shadow: none;
}
.btnNav:hover, .btNav:active{
  font-size: 1.7rem;
  font-weight: 300;
}
.btn-nav:focus, .btn-nav:visited{
  box-shadow: none;
  border: none;
}
a, a:hover{
  text-decoration: none;
  text-decoration-line: none;
  background-color: transparent;
  color: inherit;
}
.user-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0px;
  height: 100vh;
  width: 0;
  border-color:#edf5e1;
  background-color:#8ee4af;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: -5px 10px 8px rgba(0,0,0,.05)
}
.user-menu a{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white ;
}
.user-menu.show{
  width: 200px;
}
.navbar .login-form {
  width: 450px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
  border-color: #edf5e1;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .login-form .form-control {
  max-width: 160px;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}    	
.navbar .login-form .btn{
  background-color: #5cdb95;
  border: 1px solid #5cdb95;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: 0.5s;
}
.navbar .login-form .btn:hover{
  background-color:#379683;
  border: 1px solid #379683;;
  color:white;
}
@media screen and (max-width: 450px) {
  .navbar{  
    padding-left: 25px;
    padding-right: 25px;
  }
  .btn-nav{
    margin: 10px 0px;
    text-align: center;
  }
  .navbar-collapse{
    height: 100%;
    width: 0;
    position: fixed;
    top: 80px;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #8ee4af;
    box-shadow: -5px 10px 8px rgba(0,0,0,.05)
  }
  .navbar-collapse.show{
    width: 50vw;
  }
  .navbar .dropdown-menu {
    width: 100%;
    padding: 10px 20px;
    background-color: #8ee4af;
    border: none;
    box-shadow: none;
  }
  .navbar .login-form .form-control {
    max-width: 100%;
    margin-bottom: 15px;		
  }
  .navbar .login-form .btn {
    width: 100%;
    background-color: #379683;
    border: 1px solid #379683;
  }
}