.navbar{
  min-height: 80px;   
  background-color: #379683;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Oswald', sans-serif;
}
.navbar p{
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  position: relative;
  z-index: -2;
}
.navbar span{
  color: #8ee4af;
}
.navbar-nav{
  margin-right: 0px;
  margin-left: auto;
}
.navbar-toggler{
  z-index: 1;
}
.navbar .dropdown-menu {
  width: 100%;
  padding: 0px;
  background-color: #379683;
  border: none;
  box-shadow: none;
}
.btn-nav{ 
  width: 100%;
  margin: 0px;
  color:white;
  text-align: right;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7rem;
  transition: 0.5s;
  border: 1px solid #379683 !important;
}
.btn-nav:hover {
  color:#8ee4af !important;
  background-color: #edf5e1;
  border: none;
  box-shadow: none;
  outline: none;
}
.btn-nav:active, .btn-nav:visited {
  color:white;
  border: none;
  box-shadow: none;
  outline: outset;
}
.btn-nav:focus, .btn-nav:visited{
  box-shadow: none;
  border: none;
  outline: none;
}
a, a:hover{
  text-decoration: none;
  text-decoration-line: none;
  background-color: transparent;
  color: inherit;
}
.padding-15{
  padding-left: 15px;
  padding-right: 15px;
}
.btn-user{
  margin-right: 40px;
}
.user-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0px;
  height: 100vh;
  width: 0;
  border-color:#edf5e1;
  background-color:#379683;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: -5px 10px 8px rgba(0,0,0,.05);
  z-index: -1;
}
.user-menu a{
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 20px;
  color: white ;
}
.user-menu .collapsing{
  height: 100vh !important;
}
.user-menu a:active, .user-menu a:hover, .user-menu a:focus {
  background-color: #edf5e1 ;
  color: #05386B ;
  font-family: sans-serif;
  box-shadow: none;
}
.user-menu.show{
  width: 200px;
  transition: 0.3s;
}
.navbar .login-form {
  padding:10px 0px;
  font-size: 14px;
  transition: all 0.5s;
}
.navbar .login-form.show{
  transition: 0.5s;
}
.navbar .login-form .form-control {
  width: 98%;
  border-radius: 2px;
  margin-bottom: 10px;
}     
.navbar .login-form .btn{
  background-color: #5cdb95;
  border: 1px solid #5cdb95;
  font-family: sans-serif;
  color: white;
  transition: 0.5s;
  width: 100%;
}
.navbar .login-form .btn:hover{
  background-color: #379683;
  border: 1px solid #379683;
}
.login-alert{
  width: 100%;
  margin-bottom: 0px;
  width: 100%;
  font-size: 1.1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}
.nav-forgot{
  margin-top: 5px;
  font-size: 1rem;
  color: #edf5e1;
}
.nav-forgot:hover{
  color: #edf5e1;
}
.modal-box .icon-check{
  font-size: 3rem;
}
.navbar .admin-menu .dropdown-menu {
  width: 100%;
  background-color: white;
  border: none;
  box-shadow: none;
  padding: 5px;
}
.admin-menu .dropdown-menu.show{
  left: auto !important;
  right: 0px;
  border: 1px solid #edf5e1;
  color: rgb(34, 33, 33);
}
.admin-menu a{
  font-weight: 300;
  font-size: 1.1rem;
}
.admin-menu a:hover, .admin-menu a:active, .admin-menu a:focus{
  background-color: #edf5e1;
  color: rgb(34, 33, 33);
}
@media screen and (min-width: 768px) {
  .navbar{  
    padding-left: 100px;
    padding-right: 100px;
  }
  .btn-nav{
    width: unset;
    text-align: unset;
  }
  .btn-nav:hover{
    background-color: transparent;
  }
  .btn-transition:hover, .btn-transition:active{
    border-radius: 0px;
    border-bottom: 1px solid white !important;
  }
  .navbar .login-form{
    width: 460px;
    left: auto;
    right: 0;
    padding: 20px;
    border-color: #edf5e1;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar .login-form .form-control {
    margin-bottom: 0px;
  }
  .navbar .login-form .btn {
    background-color: #379683;
    border: 1px solid #379683;
  }
  .navbar .login-form .btn:hover{
    background-color: #05386B;
    border: 1px solid #05386B;
    color:white;
  }
  .nav-forgot{
    color:#379683;
  }
  .nav-forgot:hover{
    color: #379683;
  }
}