/* color
#05386B blue 
#379683 dark green 
#5cdb95 green 
#8ee4af light green
#edf5e1 grey
box-shadow: 0 2px 8px rgba(0,0,0,.05);
*/
html{
  font-size:100%;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
body.offline{
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}
.fullscreen{
  min-height: 60vh;
}
.display-flex{
  display: flex;
}
.right{
  margin-left: auto;
  margin-right: 0px;
}
.no-margin{
  margin: 0px !important;
}
.no-padding{
  padding: 0px;
}
.text-middle{
  text-align: center;
}
.bg{
  max-width: 100vw;
  max-height: 75vh;
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  z-index: -100;
}
.bg1{
  position: absolute;
  top: 370px;
  left: 20px;
  width: 300px;
  z-index: -99;
}
.bg2{
  position: absolute;
  top: 300px;
  right: 100px;
  width: 400px;
}
a{
  cursor: pointer;
}
#button-addon2{
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}
#button-addon2:hover{
  background-color: #05386B;
  border-color: #05386B;
}
.btn-primary{
  background-color: #379683;
  border: 1px solid #379683;
  transition: 0.3s;
}
.btn-primary:hover ,.btn-primary:active, .btn-primary:focus, .show>.btn-primary.dropdown-toggle {
  background-color: #032649 !important;
  border: 1px solid #032649;
  box-shadow: none !important;
}
.btn-primary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-blue{
  background-color: #05386B;
  border: 1px solid #05386B;
  color: white;
  transition: 0.3s;
}
.btn-blue:hover ,.btn-blue:active, .btn-blue:focus, .show>.btn-blue.dropdown-toggle {
  background-color: #05386B !important;
  border: 1px solid #05386B;
  box-shadow: none !important;
  color: white;
}
.alert{
  margin-top:0.5rem
}
.main-box{
  margin: 50px 85px 80px;
}
.main-box hr{
  background-color: #05386B;
}
.line{
  background-color: #05386B ;
  height: 0.5rem;
}
.search-box{
  z-index: 100;
  margin: 20px 85px 10px;
}
.filter-box{
  margin: 5px auto;
  padding: 10px;
  background-color: white;
  height: max-content;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border: 1px solid #edf5e1;
}
.filter{
  width: 100%;
  margin: 8px 0px;
}
.filter:hover{
  background-color: #05386B;
  border-color: #05386B;
}
.filter-box> p{
  color: #05386B;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}
.filter-box .dropdown-menu {
  width: 100%;
  text-align: center;
  z-index: 10000;
}
/* List  */
.list-box{
  margin: 5px 0px 1rem;
  padding: 18px 30px 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border: 1px solid #edf5e1;
  border-radius: 5px;
  background-color: white;
  transition:0.3s;
}
.list-box:hover{
  transform: scale(1.1)
}
.list h5{
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #05386B;
}
.list p{
  font-size: 15px;
  margin-bottom: 4px;
}
.list .category{
  color: #05386B;
  font-weight: 500;
}
.list i{
  font-size: 13px;
}
.list-skripsi .modal-content{
  border:none;
  border-radius: 5px;
}
.list-skripsi .modal-header{
  border:none;
  position: absolute;
  right: 0px;
  z-index: 1;
}
.list-skripsi .modal-body{
  text-align: center;
  line-height: 60px;
  height: 100px;
  font-family: 'Oswald', sans-serif;
  color: #05386B;
  font-weight: 400;
  font-size: 1.3rem;
}
.detail-box{
  background-color: white;
  border-radius: 0px;
  border: 1px solid #edf5e1;
  box-shadow: 0 3px 20px rgba(0,0,0,.05);
  padding: 20px;
  min-height: 100%;
  margin-bottom: 1rem;
}
.detail-box h4 {
  color: #05386B;
  margin-bottom: 0px;
}
.detail-box h5{
  font-size: 1.1rem;
}
.detail-box P{
  text-align: end;
}
.abstract .detail-box p{
  text-align: justify;
}
.abstract{
  margin-top: 0rem;
}
.abstrak p{
  text-align: justify;
}
.file{
  margin-top: 2rem;
}
.file-box{
  background-color: white;
  border-radius: 0px;
  border: 1px solid #edf5e1;
  box-shadow: 0 3px 20px rgba(0,0,0,.05);
  padding: 20px;
  margin-bottom: 2rem;
}
/* Register */
.register-box{
  background-color: white;
  color:#379683;
  min-height: 400px;
  max-width: 600px;
  width: 100%;
  padding: 50px;
  margin: 50px auto 100px;
  border: 1px solid #edf5e1;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  font-weight: 500;
}
.register-box h3{
  text-align: center;
}
.register-box .btn{
  background-color: #379683;
  margin-bottom: 1rem;
}
.register-box label{
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.register-box .form-control{
  border: none;
  border-bottom: 2px solid #edf5e1;
  border-radius: 0px;
  padding: 0px;
}
.register-box .form-control:focus, .search-box .form-control:focus{
  box-shadow: none;
}
/* Table */
.table-box{
  box-shadow: 0px 5px 20px rgba(0,0,0,.05);
}
.table{
  background: white;
  margin-bottom: 0px;
  font-size: 13px;
}
.table thead th{
  vertical-align: middle;
}
.table th{
  color: #05386B;
}
.table td, .table th{
  vertical-align: middle;
}
.td-sm{
  min-width: 80px;
}
.td-md{
  min-width: 150px;
}
.td-lg{
  min-width: 200px;
}
.btn-table{
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
}
.table-skripsi .btn-table{
  width: 100%;
}
.btn-handle{
  background-color: #5cdb95;
  color: white;
}
.btn-handle:hover{
  background-color: #379683;
  color: white;
}
/* Admin */
.admin-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 45vh;
}
.card{
  background-color: white;
  line-height: 200px;
  border: 1px solid #edf5e1;
  border-radius: 3px;
  box-shadow: 1px 3px 8px rgba(0,0,0,.05);
  transition: 0.5s;
  margin: 1rem;
}
.card:hover{
  background-color: white;
  box-shadow: 5px 8px 8px rgba(0,0,0,.05);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.icons{
  font-size: 2rem;
  color: #379683;
}
.icon{    
  font-size: 4rem;
  color: #379683;
}
.card-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #05386B;
  background-color: #edf5e1;
}
.breadcrumb a{
  color: #05386B;
  font-weight: 500;
}
.admin-modal .btn-primary{
  width:100%;
}
/* Profile */
.profile-box{
  position: relative;
  background-color: white;
  padding: 50px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border: 1px solid #edf5e1;
  color:#05386B ;
}
.profile-box a{
  font-size: 2.5rem;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
  color: #379683;
}
.profile-box .row{
  margin-bottom: 0.2rem;
}
.title{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: white;
  color: #05386B;
  padding: 10px;
}
.ribbon{
  display: inline-block;
  position: relative;
  background-color: #05386B;
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border-top-right-radius: 10px;
  padding: 10px 50px;
}
.ribbon-right{
  left:-10px;
}
.ktm{
  width: 200px;
  margin-bottom:2rem
}
.icon-check{
  color:#379683;
  font-weight: 500;
  margin-bottom: 16px;
}
.upload-box{
  background-color: white;
  color: #379683;
  width: 100%;
  padding: 50px;
  margin: 30px 100px;
  border: 1px solid #edf5e1;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  font-weight: 500;
}
.upload-box h3{
  text-align: center;
}
.upload-box textarea{
  height: 150px;
}
.table-box Table{
  border: 1px solid #edf5e1;
}
.alert-offline{
  margin:2%;
  position: fixed;
  top: 20px;
  z-index: 10000;
  width: 96%;
  display: none;
}
.offline .alert-offline{
  display: block;
  animation: cssAnimation 0s 5s forwards;
  transition: 0.5s;
  opacity: 1;
}
.offline-text{
  padding: 20px;
  font-weight: bold;
  color: grey;
}
.offline-box{
  background-color: white;
  border-radius: 0px;
  border: 1px solid #edf5e1;
  box-shadow: 0 3px 20px rgba(0,0,0,.05);
  padding: 20px;
  min-height: 100%;
  margin-bottom: 1rem;
}
.offline-box p{
  text-align: center;
}
@keyframes cssAnimation {
  to   { opacity: 0; }
}
.offline .list-box h5, .offline .list-box p, .offline .list-box i, .offline .filter-box p{
  color: #6c757d;
}
.progress{
  height: 0.5rem;
  margin: 30px 0px;
}
.progress-bar{
  background-color: #379683;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #379683; 
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05386B; 
}
/*mobile*/
@media screen and (max-width: 767px) {
  .bg1{
    display:none;
  }
  .main-box{
    margin: 10px;
  }
  .search-box{
    margin: 10px;
  }
  .list-box{
    padding: 18px 10px;
  }
  .list h5{
    font-size: 1rem;
  }
  .register-box{
    width: 90vw;
    min-height: auto;
    padding: 30px 20px; 
  }
  .bg2{
    display: none;
  }
  .card-text {
    line-height: 150px;
    text-align: center;
  }
  .small-box{
    margin:20px;
  }
  .detail-box{
    min-height: auto;
    padding: 0 20px 20px;
  }
  .detail-box > div {
    position: sticky;
    top:0px;
    background-color: white;
    padding-top: 10px;
  }
  .abstract .detail-box{
    height: 350px;
    overflow-y: scroll;
  }
  .file{
    margin-top: 0rem;
  }
  .profile-box{
    padding: 20px;
  }
  .ribbon{
    padding: 10px 20px;
  }
  .upload-box{
    margin: 10px 20px 2rem;
    padding: 20px
  }
}
@media screen and (min-width: 768px ) and (max-width:999px){
  .bg2{
    display: none
  }
}