/* color
#05386B blue 
#379683 dark green 
#5cdb95 green 
#8ee4af light green
#edf5e1 grey
box-shadow: 0 2px 8px rgba(0,0,0,.05);
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
html{
  font-size:100%;
}
body{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
h3{
  font-size: 1.5rem;
}
a{
  cursor: pointer;
}
body.offline{
  /* -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%); */
}
.alert-offline{
  margin:2%;
  position: fixed;
  top: 20px;
  z-index: 10000;
  width: 96%;
  display: none;
}
.offline .alert-offline{
  display: block;
  animation: cssAnimation 0s 5s forwards;
  transition: 0.5s;
  opacity: 1;
}
@keyframes cssAnimation {
  to   { opacity: 0; }
}
.fullscreen{
  min-height: 70vh;
  overflow-x: hidden;
}
.display-flex{
  display: flex;
}
.right{
  margin-left: auto;
  margin-right: 0px;
}
.no-margin{
  margin: 0px !important;
}
.no-padding{
  padding: 0px;
}
.text-center{
  text-align: center;
}
.text-middle{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  color: #379683;
}
.middle{
  justify-content: center;
  align-items: center;
  height: 80%;
}
.bg{
  max-width: 100vw;
  max-height: 75vh;
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  z-index: -100;
}
.bg1{
  display:none;
}
.bg2{
  display: none;
}
.bg3{
  max-width: 180px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.bg3-box{
  height: 25px;
  margin: 0px 30px;
}
.breadcrumb{
  font-family: 'Oswald', sans-serif;
}
.btn-primary{
  background-color: #379683;
  border: 1px solid #379683;
  transition: 0.3s;
}
.btn-primary:hover ,.btn-primary:active, .btn-primary:focus, .show>.btn-primary.dropdown-toggle {
  background-color: #032649 !important;
  border: 1px solid #032649;
  box-shadow: none !important;
}
.btn-primary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn:disabled{
  cursor: default;
}
.btn-blue{
  background-color: #032649;
  border: 1px solid #032649;
  color: white;
  transition: 0.3s;
}
.btn-blue:hover ,.btn-blue:active, .btn-blue:focus, .show>.btn-blue.dropdown-toggle {
  background-color: #05386B !important;
  border: 1px solid #05386B ;
  box-shadow: none !important;
  color: white;
}
.btn-send{
  height:56px;
  float:right;
  font-family: 'Oswald', sans-serif;
}
.btn-download{
  background-color: #032649;
  border: 1px solid #032649;
  color: white;
  transition: 0.3s;
}
.btn-download:hover ,.btn-download:active, .btn-download:focus, .show>.btn-download.dropdown-toggle {
  background-color: #379683 !important;
  border: 1px solid #379683 ;
  box-shadow: none !important;
  color: white;
}
.alert{
  margin-top:0.5rem
}
.modal-box{
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 0px;
  padding: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #5cdb95;
}
.main-box{
  margin: 10px 10px 30px;
}
.main-box hr{
  background-color: #05386B;
}
.line{
  background-color: #05386B ;
  height: 0.5rem;
}
#button-addon2{
  background-color: white;
  border: none;
  color: #abb1b7;
  pointer-events: none;
}
#button-addon2:focus{
  box-shadow: none;
}
.search-box{
  z-index: 100;
  margin: 10px;
}
.search-box .form-control{
  border:none
}
.input-group{
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.filter-box{
  margin: 5px auto;
  padding: 10px;
  background-color: white;
  height: max-content;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border: 1px solid #edf5e1;
}
.filter{
  width: 100%;
  margin: 8px 0px;
}
.filter:hover{
  background-color: #05386B;
  border-color: #05386B;
}
.filter-box> p{
  color: #05386B;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}
.filter-box .dropdown-menu {
  width: 100%;
  text-align: center;
  z-index: 10000;
  padding: 0px;
}
.filter-box .dropdown-menu .dropdown-item {
  white-space: normal !important;
  border-bottom: 1px solid #adbac587;
}
.list-box{
  margin: 5px 0px 1rem;
  padding: 18px 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border: 1px solid #edf5e1;
  border-radius: 5px;
  background-color: white;
  transition:0.3s;
}
.list-box.transition-list:hover{
  transform: scale(1.1)
}
.list h5{
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #05386B;
}
.list p{
  font-size: 15px;
  margin-bottom: 4px;
}
.list .category{
  color: #05386B;
  font-weight: 500;
}
.list i{
  font-size: 13px;
}
.skripsi-detail .line{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.detail-box{
  background-color: white;
  border-radius: 0px;
  border: 1px solid #edf5e1;
  box-shadow: 0 3px 20px rgba(0,0,0,.05);
  min-height: auto;
  padding: 0 20px 20px;
  margin-bottom: 1rem;
}
.detail-header {
  position: sticky;
  top:0px;
  background-color: white;
  padding-top: 10px;
}
.detail-box h4 {
  color: #05386B;
  margin-bottom: 0px;
  font-family: 'Oswald', sans-serif;
}
.detail-box h5{
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
}
.detail-box p{
  text-align: end;
  font-size: 0.95rem;
}
.identity .detail-box p{
  margin-top:1.5rem;
  margin-bottom:1.5rem;
}
.abstract .detail-box{
  height: 350px;
  overflow-y: scroll;
}
.abstract .detail-box p{
  text-align: justify;
  font-size: smaller;
  text-indent: 15px;
}
.abstract{
  margin-top: 0rem;
}
.abstrak p{
  text-align: justify;
}
.file{
  margin-top: 0rem;
}
.file .detail-box{
  padding: 20px;
  min-height: 500px;
}
.num-page{
  align-self: center;
}
.btn-pdf-box{
  margin-top:20px;
  display: flex;
  justify-content: center;
}
.btn-pdf-box p{
  font-family: 'Oswald', sans-serif;
}
.btn-pdf{
  margin: 0px 5px;
}
.react-pdf__Document{
  margin:10px auto;
  text-align: center;
}
.react-pdf__Page__canvas{
  max-width: 600px;
  width: 100% !important;
  height: auto !important;
  margin: auto;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 8px lightgrey;
}
.react-pdf__Page__annotations{
  display: none;
}
.info-box{
  background-color: white;
  color: #379683;
  border: 1px solid #edf5e1;
  border-radius: 2px;
  box-shadow: 0 3px 20px rgba(0,0,0,.05);
  min-height: 40vh;
  margin: 20px;
  padding: 100px 20px 20px;
  text-align: center;
}
.info-box b{
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;;
}
.forgot-text h3{
  text-align: center;
}
.forgot-box{
  margin: 20px;
  font-family: 'Oswald', sans-serif;
}
.info-box .form-control{
  border: 1px solid #ced4da
}
.spin-forgot{
  color: #379683;
}
.spin-forgot.spinnner-border{
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.register-box{
  background-color: white;
  color:#379683;
  min-height: auto;
  width: 90vw;
  padding: 30px 20px; 
  margin: 50px auto 100px;
  border: 1px solid #edf5e1;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  font-weight: 500;
}
.register-box h3{
  text-align: center;
}
.register-box .btn{
  background-color: #379683;
  margin-bottom: 1rem;
}
.register-box label{
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.register-text p{
  text-transform: uppercase;
  font-family: oswald;
}
.register-box .form-control{
  border: none;
  border-bottom: 2px solid #edf5e1;
  border-radius: 0px;
  padding: 0px;
}
.form-control:focus{
  box-shadow: none;
}
/* Table */
.table-box{
  box-shadow: 0px 0px 15px rgba(0,0,0,.05);
}
.table{
  background: white;
  margin-bottom: 0px;
  font-size: 13px;
}
.table-header{
  font-family: 'Oswald';
}
.table th{
  color: #05386B;
}
.table td, .table th, .table thead th{
  vertical-align: middle;
}
.td-sm{
  min-width: 80px;
  width:100%;
  max-width: 150px;
}
.td-md{
  min-width: 150px;
  width:100%;
  max-width: 200px;
}
.td-lg{
  min-width: 200px;
  width:100%;
}
.btn-table{
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  width: 100%;
}
.status{
  padding:5px;
  width: 110px;
  color: #6d6d6d;
  border-radius: 4px;
  margin-bottom: 5px;
  text-align: center;
}
.status-muted{
  background-color: lightgrey;
}
.status-green{
  background-color: #379683;
  color: white;
}
.status-red{
  background-color: #c82333;
  color: white;
}
.table-skripsi .status{
  width: 90px;
}
.table .offline-text{
  padding-top:20px;
  padding-bottom:20px;
  font-size: 1.02rem;
}
/* Admin */
.admin-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 45vh;
}
.list-box.admin{
  max-height: 70px;
}
.list-box.admin:hover{
  transform: scale(1.01)
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card{
  background-color: white;
  line-height: 150px;
  border: 1px solid #edf5e1;
  border-radius: 3px;
  box-shadow: 1px 3px 8px rgba(0,0,0,.05);
  transition: 0.5s;
  margin: 1rem;
}
.card:hover{
  background-color: white;
  box-shadow: 5px 8px 8px rgba(0,0,0,.05);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.icons{
  font-size: 2rem;
  color: white;
}
.pdf-icon{
  font-size: 2rem;
  color: #379683;
}
.admin-icon{    
  font-size: 4rem;
  color: #379683;
}
.card-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: unset;
  color: #05386B;
  background-color: #edf5e1;
}
.breadcrumb a{
  color: #05386B;
  font-weight: 500;
}
.admin-modal .btn-primary{
  width:100%;
}
.admin-modal p{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.forum-box{
  height: 65vh;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0,0,0,.05);
  position: relative;
  padding-bottom: 40px;
  word-break: break-word;
}
.forum-title{
  font-family: 'Oswald', sans-serif;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0,0,0,.05);
  padding: 10px;
  color: #379683;
  font-weight: 400;
}
.forum-content{
  height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}
.forum-text{
  margin-top: 20px;
  padding:10px;
  background-color: #edf5e1;
  border: 1px solid #ced4da;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.05);
}
.forum-text p{
  margin: 0px;
}
.forum-text-user{
  margin-left: 50px;
  margin-right: 10px;
}
.forum-text-admin{
  margin-right: 50px;
  margin-left: 10px;
}
.forum-box .head{
  border-bottom: 1px solid #05386B;
}
.forum-box .form-control{
  border:none
}
.forum{
  position: absolute;
  bottom: 0px;
}
/* Profile */
.profile-box{
  position: relative;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border: 1px solid #edf5e1;
  color:#05386B ;
}
.profile-box a{
  font-size: 2.5rem;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
  color: #379683;
}
.profile-box h5{
  font-weight: bold;
}
.profile-box h5, .profile-box p{
  font-size: 0.9rem;
}
.profile-box .icon-check{
  font-size: smaller;
}
.profile-box .row{
  margin-bottom: 0.2rem;
}
.status-skripsi hr{
  margin-bottom: 0px;
}
.status-skripsi b{
  font-family: 'oswald', san serif;
  font-size: 1.4rem;
}
.status-skripsi .status{
  width: max-content;
}
.status-not{
  margin-top:20px;
  margin-bottom: 20px !important;
  font-family: 'oswald', san serif;
  font-size: 1.2rem !important;
}
.status-skripsi p,.status-skripsi .icon-check {
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.td-status{
  width:unset ;
}
.column{
  color: black;
  border: 1px solid #e3e3e3;
  padding: 5px 10px;
  border-radius: 3px;
}
.img-div{
  margin-bottom:20px
}
.img-box{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ktm{
  max-width: 250px;
  width:100%;
  margin:auto;
}
.abs{
  text-indent: 15px;
  text-align: justify;
  max-height: 180px;
  overflow-y: auto;
  word-break: break-word;
  padding: 10px;
  padding-left:0px;
  margin-bottom: 10px;
}
.title{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: white;
  color: #05386B;
  padding: 10px;
}
.title .form-control{
  border:none
}
.ribbon{
  display: inline-block;
  position: relative;
  background-color: #05386B;
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  border-top-right-radius: 10px;
  padding: 10px 0px;
  text-align: center;
  max-width: 130px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}
.ribbon-right{
  left:-10px;
}
.icon-check{
  color:#379683;
  font-weight: 500;
  margin-bottom: 16px;
}
.upload-box{
  background-color: white;
  color: #379683;
  width: 100%;
  min-height: 50vh;
  margin: 10px 20px 2rem;
  padding: 20px;
  border: 1px solid #edf5e1;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  font-weight: 500;
}
.upload-box h3{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.upload-box textarea#abstract, .upload-box textarea#abstrak {
  height: 150px;
}
.upload-box option{
  font-size: 1rem;
}
.msg-upload{
  text-align: center;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;;
}
.msg-upload h5, .msg-upload p{
  font-weight: 400;
}
.table-box Table{
  border: 1px solid #edf5e1;
}
.small-box{
  margin:20px;
}
.spin-box{
  display: flex;
  justify-content: center;
}
.spin-green{
  color: #379683;
}
.spin-green.spinner-border{
  width: 1.3rem;
  height: 1.3rem;
}
.progress{
  height: 0.5rem;
  margin: 30px 0px;
}
.progress-bar{
  background-color: #379683;
}
.offline-box{
  background-color: white;
  border-radius: 0px;
  border: 1px solid #edf5e1;
  box-shadow: 0 3px 20px rgba(0,0,0,.05);
  padding: 20px;
  min-height: 100%;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}
.offline-box p{
  text-align: center;
}
.offline-text{
  padding: 20px;
  font-weight: bold;
  color: grey;
}
.offline .list-box h5, .offline .list-box p, .offline .list-box i, .offline .filter-box p{
  color: #6c757d;
}
.MuiInputBase-root{
  background-color: white;
  border: none;
}
.autocomp-box{
  display: flex;
  margin-bottom: 15px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #379683; 
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05386B; 
}
/*mobile*/
@media screen and (min-width: 768px) {
  h3{
    font-size: 1.75rem;
  }
  .bg1{
    display: block;
    position: absolute;
    top: 370px;
    left: 30px;
    width: 300px;
    z-index: -99;
  }
  .bg2{
    display: block;
    position: absolute;
    top: 300px;
    right: 100px;
    width: 400px;
  }
  .bg3{
    max-width: 200px;
  }
  .bg3-box{
    height: 10px;
    margin:0px 100px
  }
  .main-box{
    margin: 50px 85px 80px;
  }
  .search-box{
    margin: 20px 85px 10px;
  }
  .list-box{
    padding: 18px 30px 10px;
  }
  .list h5{
    font-size: 1.25rem;
  }
  .register-box{
    min-height: 400px;
    width: 100%;
    max-width: 600px;
    padding: 50px;
  }
  .card-text {
    line-height: 200px;
    text-align: center;
  }
  .small-box{
    height: 100%;
    margin: 0px;
  }
  .detail-box{
    min-height: 100%;
    padding: 20px;
  }
  .abstract .detail-box{
    height: unset;
    overflow: unset;
  }
  .file{
    margin-top: 2rem;
  }
  .file .detail-box{
    min-height: 960px;
  }
  .profile-box{
    padding: 50px;
  }
  .td-status{
    width:200px
  }
  .status-skripsi h5, .status-skripsi .icon-check{
    font-size: 0.9rem;
  }
  .img-div{
    margin-bottom:unset
  }
  .img-box{
    border-right: 1px solid #e3e3e3;
  }
  .ktm{
    max-width: 300px;
  }
  .abs{
    max-height: 400px;
  }
  .upload-box{
    padding: 50px;
    margin: 30px 100px;
  }
  .forgot-box{
    margin: 20px 200px;
  }
}
@media screen and (min-width: 768px ) and (max-width:999px){
  .bg2{
    display: none
  }
}